<div class="bar bar-header bar-balanced">

	<h1 class="title">The Rotten Manager</h1>
</div>
<ion-view>
	<ion-content class="has-header has-footer has-subfooter" ng-controller="ManosCtrl">
		<div class="row">
		<button ng-click="recalcularDefaultManos()" class="button button icon-right ion-ios-loop-strong button-calm button-block" >Recalcular</button>
		</div>
		<ion-list>
			<ion-item class=" row item item-button-right" ng-repeat="mano in getManos()" ng-show="mano.numero">
				<div class="row center">
					<span class="col col-50 ">Mano {{mano.numero}}</span>

					<div class="button-bar center">
						<button ng-click="modificarMano(-1,mano)" class="button button-clear"><i class="icon ion-ios-arrow-left assertive"></i></button>
						<span class="display-numero"><b>{{mano.cantidad}}</b></span>
						<button ng-click="modificarMano(1,mano)" class="button button-clear"><i class="icon ion-ios-arrow-right balanced"></i></button>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<div class="bar bar-subfooter bar-balanced" ng-controller="FlowCtrl">
	<div class="button-bar">
		<a href="#jugadores" class="button button-clear"><i class="icon ion-person not-selected"></i></a>
		<a href="#config" class="button button-clear"><i class="icon ion-settings not-selected"></i></a>
		<a href="#manos" class="button button-clear"><i class="icon ion-refresh"></i></a>
	</div>
</div>
<ion-footer-bar class="bar-assertive bar-balanced" ng-controller="FlowCtrl">
	<div class="button-bar">
		<button ng-click="iniciarJuego()" class="button button-clear bold"><i class="icon ion-play"></i></button>
	</div>
</ion-footer-bar>