
<div ng-controller="ManosCtrl">
	<div >
		<button ng-click="recalcularDefaultManos()" id="btn-new" class="btn btn-new">Calcular Default</button>
	</div >
<li ng-repeat="mano in getManos()">
	<ul>
		<label>{{mano.numero}}</label><input type="number" min="1" max="{{getMaximo()}}" ng-model="mano.cantidad"/>
	</ul>

</li>


    <div >
		<a href="#jugadores" id="btn-jugadores" class="btn btn-new">Jugadores</a>
		<a href="#manos" id="btn-manos" class="btn btn-new">Manos</a>
		<a href="#config" id="btn-config" class="btn btn-new">Configuración</a>
	</div>
	<div >
		<button ng-click="guardarJugadores('config')" id="btn-new" class="btn btn-new">Nuevo Juego</button>
	</div >
</div>
