<div class="bar bar-header bar-balanced">

    <h1 class="title">The Rotten Manager</h1>
</div>
<div class="bar bar-subheader bar-balanced">
    <h2 class="title"> Mano {{juego.manoActual.nroMano}} - Cartas {{juego.manoActual.cartas}}</h2>
</div>
<ion-view>
    <ion-content class="has-header has-subheader has-footer">
        <ion-list>
            <ion-item class="item item-thin" ng-repeat="puntaje in getPuntajes()">
				<h3 class="nombre-jugador"><strong>{{puntaje.jugador.nombre}} </strong></h3>
					
				<div class="row center">
				<span class="col col-50">Basas a Pedir</span>
					<div class="button-bar center">
						<button ng-click="modificarBasasAPedir(-1, puntaje)" class="button button-clear"><i class="icon ion-ios-arrow-left assertive"></i></button>
						<span class="display-numero"><b>{{puntaje.basasPedidas}}</b></span>
						<button ng-click="modificarBasasAPedir(1,puntaje)" class="button button-clear"><i class="icon ion-ios-arrow-right balanced"></i></button>
					</div>
				</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<ion-footer-bar class=" bar-balanced" ng-controller="FlowCtrl">
    <div class="button-bar">
        <button  ng-show="basasPedidasValidas()"  ng-click="comenzarRonda()" class="button button-clear bold"><i
                class="icon ion-play"></i></button>
    </div>
</ion-footer-bar>
