<div class="bar bar-header bar-balanced">

    <h1 class="title">The Rotten Manager</h1>
</div>
<div class="bar bar-subheader bar-balanced">
    <h2 class="title"> Mano {{juego.manoActual.nroMano}} - Cartas {{juego.manoActual.cartas}}</h2>
</div>
<ion-view>
    <ion-content class="has-header has-subheader has-footer">
        <ion-list>
            <ion-item class="item item-button-right" ng-repeat="jugador in getJugadores()">
                <div class="row center">
                    <div class="col col-50"><span class="header-totales">{{jugador.nombre}}</span></div>
                    <div class="col col-50">
                        <div class="row center">
                            <div class="col col-25">
                                <div class="row center">
                                    <div class="col col-50"><span>P</span></div>
                                    <div class="col col-50"><span>getPuntajeJugador(jugador).basasPedidas</span>
                                    </div>
                                </div>
                                <div class="row center">
                                    <div class="col col-50"><span>H</span></div>
                                    <div class="col col-50"><span>getPuntajeJugador(jugador).basasHechas</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-75"><span class="header-totales">{{jugador.total}}</span></div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<ion-footer-bar class=" bar-balanced" ng-controller="FlowCtrl">
    <div class="button-bar">
        <button ng-show="haySiguienteRonda()" ng-click="siguienteRonda()" class="button button-clear bold"><i
                class="icon ion-play"></i></button>
        <button ng-show="!haySiguienteRonda()" ng-click="finalizarJuego()" class="button button-clear bold"><i
                class="icon ion-android-exit"></i></button>
    </div>
</ion-footer-bar>

<label>{{jugador.nombre}} : {{jugador.total}}</label>
